/**
|--------------------------------------------------
| Override style of datatables.net-bs4
| You can add or/and custom your style here
|--------------------------------------------------
*/

// Wrapper DataTables
.dataTables_wrapper {

	/** HEADER */

	// Display Select many item in to show
	.dataTables_length {

		select {
			margin-left: 5px;
			margin-right: 5px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}


	// Display Filter Search Item
	.dataTables_filter {
		input {
		}
	}

	/** FOOTER */

	// Display Info showing from .. to .. of .. entries
	.dataTables_info {

	}


	// Display Paginate
	.dataTables_paginate {
		ul.pagination {

			// global button paginate
			li.paginate_button {
				&.disabled {
					cursor: not-allowed;
				}
			}

			// special button
			.first {

			}
			.previous {

			}
			.next {

			}
			.last {

			}
		}
	}


	/** TABLE */

	$marginFooter: 25px;
	$marginHeader: 15px;

	table {
		margin-top: $marginHeader !important;
		margin-bottom: $marginFooter !important;
	}
}
