/**
|--------------------------------------------------
| You can add and/or custom your global variable here
|--------------------------------------------------
*/

// FONT SIZE GLOBAL
$font-size: 16px;
$font-size-extra-small: 0.7rem;
$font-size-small: 0.8rem;
$font-size-normal: 1rem;
$font-size-medium: 1.2rem;
$font-size-large: 1.5rem;
$font-size-extra-large: 2rem;

// FONT FAMILY GLOBAL
$font-family-Roboto: 'Roboto', sans-serif;
$font-family-Nunito: 'Nunito', sans-serif;
$font-family-Open-Sans: 'Open Sans', sans-serif;

// COLOR GLOBAL
$red: #dd4b39;
$orange: #FF851B;
$purple: #605ca8;
$blue: #0073b7;
$green: #00a65a;
$navy: #001F3F;

$color-primary: $purple;
$color-success: $green;
$color-info: $blue;
$color-warning: $orange;
$color-dander: $red;

// Z INDEX
$z-index-base: 500;
$z-index-min: $z-index-base - 500;
$z-index-max: $z-index-base + 500;
