@import './../../../styles/variables.scss';

.ReactTable {
	background-color: rgb(245, 245, 245);
	padding: 25px 5px;

	.react-table {
		font-size: $font-size-small;

		.tb-header {
			font-weight: 900;
		}

		.tb-cell {
			&.tb-buttons {
				width: 100%;
				height: 16px;
				font-size: 16px;
				span.tb-button {
				}
			}
		}
	}
}
